BasedOnStyle:  WebKit
ObjCSpaceBeforeProtocolList: true
SpaceInEmptyParentheses: true
SpaceBeforeParens: Never
BreakBeforeBraces: Allman
IndentCaseLabels: true
AllowShortIfStatementsOnASingleLine: true
PointerBindsToType: false